
  <main>
    <div class="content">
      <ul>
        <li>Contact <%=@contact.id.to_i%></li>
        <li>first name: <b> <%= @contact.first_name %></b></li>
        <li>last name: <b> <%= @contact.last_name %></b></li>
        <li>email: <b> <%= @contact.email %><b></li>
        <li>note: <b> <%= @contact.note %></b></li>
  </ul>
  </div>
  </main>
